<app-top-nav></app-top-nav>
<app-admin-nav></app-admin-nav>
<app-page [loading]="loading">
    <h1 class="text-primary floating-title">Admin - Catalog</h1>

    <div class="catalog" *ngIf="!loading">
        <div class="header">
            <h3>Catalog</h3>
            <div class="buttons">
                <button (click)="addCatalogItem()">
                    <i class="material-icons">add</i>
                    Add new product
                </button>
            </div>
        </div>
        <div class="products">
            <app-product-item *ngFor="let product of products" [product]="product" type="admin"></app-product-item>
        </div>
        <br>
        <div class="header">
            <h3>Catalog - Spring Boot</h3>
        </div>
        <div class="products">
            <app-product-item *ngFor="let product of productsSpring" [product]="product" type="admin" [spring]="true"></app-product-item>
        </div>
    </div>
</app-page>