@import '../../../styles.scss';

.container {
    position: relative;
    overflow: hidden;
    padding-left: $padding-normal;
    
    .content {
        padding: $padding-normal;
        transform-origin: top left;
        transition: $transition;

        /*&.open {
            margin-top: 0px;
        }

        &.close {
            margin-top: -200px;
        }*/
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-title {
        width: 100%;
        height: 100%;
        padding: $padding-normal;
        border-radius: $border-radius;
        transition: $transition;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
 
}