<div class="header" >
    <div class="header-title" (click)="toggle()">
        <ng-content select="[header]"></ng-content>
    </div>
    <div class="buttons">
        <ng-content select="[buttons]"></ng-content>
    </div>
</div>

<div class="container" #container>
    <div 
    [style.margin-top]="open ? '0px' : getHeight()"
    [style.transition]="visibility == 'visible' ? '250ms' : '0ms'"
    [style.visibility]="visibility"
    >
        <ng-content select="[content]"></ng-content>
    </div>
</div>