<nav [class.login]="isLogin">
    <div class="title">
        <a routerLink="/home">PRF 2021 - GPU Store</a>
    </div>
    <div class="navs">
        <ul *ngIf="auth.getCurrentUserId(); else noUser">
            <li *ngFor="let nav of navs">
                <div class="cart-items" *ngIf="nav.label == 'shopping-cart' && globalService.getCart().products.length > 0">
                    {{ globalService.getCart().products.length < 10 ? globalService.getCart().products.length : '+9' }}
                </div>
                <a
                *ngIf="nav.label" 
                [routerLink]="[nav.path]"
                [class]="(nav.label === activeLink && !getPath().includes('admin')) || (nav.label === 'admin' && getPath().includes('admin')) ? 'active' : ''"
                >{{ nav.name }}</a>
            </li>
        </ul>
        <ng-template #noUser>
            <ul>
                <li>
                    <a [routerLink]="['/login']">Login</a>
                </li>
            </ul>
        </ng-template>

        <div class="user-section" *ngIf="auth.getCurrentUserId()">
            <p *ngIf="user">Hello, {{ user.firstname }}</p>
            <ul>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>