@import '../../../styles.scss';

nav {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow-normal;
    position: fixed;
    width: 100%;
    min-height: 67px;
    z-index: 10;

    &.login {
        box-shadow: none !important;
    }

    .title {
        margin-left: $margin-normal;
        a {
            color: $color-white !important;
            font-weight: bold;
        }
    }

    .navs {
        padding: $padding-small;
        display: flex;
        flex-direction: row;
        
        ul {
            display: flex;
            flex-direction: row;
            margin: 0px;

            li {
                list-style-type: none;
                position: relative;

                a {
                    color: $color-white;
                    opacity: 0.5;
                    transition: $transition;
                    padding: $padding-normal;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: $color-white;
                        margin-right: $margin-small;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }

            .cart-items {
                position: absolute;
                top: 20px;
                right: 0;
                background-color: $color-danger;
                color: $color-white;
                width: 21px;
                height: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                z-index: 10;
                font-size: 11px;
                margin-top: -15px;
            }
        }

        .user-section {
            color: $color-white;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: row;
            padding-left: $padding-normal; 

            p {
                color: $color-white;
            }

            ul {
                padding: 0px;
            }
        }
    }
}