<app-top-nav></app-top-nav>
<app-admin-nav></app-admin-nav>
<app-page [loading]="loading">
    <h1 class="text-primary floating-title">Admin - Users</h1>

    <div class="users" *ngIf="!loading">
        <div class="header">
            <h3>Admins</h3>
            <div class="buttons">
                <button (click)="addAdmin()">Add new admin</button>
            </div>
        </div>
        <app-card *ngFor="let user of getAdmins()">
            <app-expansion-panel>
                <div header>
                    <div>
                        <span class="text-primary">{{ user.firstname + ' ' + user.lastname }} </span>
                        <span class="text-gray">({{ user.email }})</span>
                    </div>
                </div>
                <div buttons class="row" *ngIf="user._id != auth.getCurrentUserId()">
                    <button class="ml" (click)="editUser(user)">Edit</button>
                </div>
                
            </app-expansion-panel>
        </app-card>
    </div>

    <div class="users" *ngIf="!loading">
        <div class="header">
            <h3>Customers</h3>
            <div class="buttons">
                <button (click)="addUser()">Add new customer</button>
            </div>
        </div>
        <app-card *ngFor="let user of getCustomers()">
            <app-expansion-panel>
                <div header>
                    <div>
                        <span class="text-primary">{{ user.firstname + ' ' + user.lastname }} </span>
                        <span class="text-gray">({{ user.email }})</span>
                    </div>
                </div>
                <div buttons class="row">
                    <button class="ml" (click)="editUser(user)">Edit</button>
                </div>
            </app-expansion-panel>
        </app-card>
    </div>
</app-page>