<form >
    <h1 class="text-primary">Add new item</h1>
    <app-input label="Name" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Manufacturer" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Interface" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Chipset" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Memory size" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Price" required="true">
        <input type="text" >
    </app-input>
    <app-input label="Avaible" required="true">
        <input type="checkbox" >
    </app-input>
    <app-input label="Description" required="true">
        <textarea cols="45" rows="6"></textarea>
    </app-input>

    <button >Add</button>
</form>