<form [formGroup]="form">
    <h1 class="text-primary">{{ editing ? 'Edit ' : 'Add new ' }} product</h1>
    <app-input label="Name" required="true">
        <input type="text" formControlName="name">
    </app-input>
    <app-input label="Manufacturer" required="true">
        <input type="text" formControlName="manufacturer">
    </app-input>
    <app-input label="Alcohol" required="true">
        <input type="number" formControlName="alcohol" min="0" step="0.1">
    </app-input>
    <app-input label="Price" required="true">
        <input type="number" formControlName="price" min="0">
    </app-input>
    <app-input label="Available">
        <input type="checkbox" formControlName="available">
    </app-input>
    <app-input label="Image">
        <input type="file" class="hidden" id="input-file">
        <div class="image-selection" (click)="selectImage()">
            <div class="image-container" *ngIf="selectedImage; else noImage">
                <div class="shader" *ngIf="selectedImage"></div>
                <img [src]="selectedImage" alt="">
            </div>
            <ng-template #noImage>
                <span class="o-50">Click to select image.</span>
            </ng-template>
        </div>
    </app-input>
    <app-input label="Description">
        <textarea cols="45" rows="6" formControlName="description"></textarea>
    </app-input>

    <button (click)="deleteProduct()" class="clear mb" *ngIf="editing">Delete</button>
    <button (click)="submit()" class="submit">{{ editing ? 'Edit' : 'Add' }}</button>
</form>

<div class="fill-loading" *ngIf="loading">
    <app-loading></app-loading>
</div>