<app-card class="ccc">
    <app-expansion-panel>
        <div header class="">
            <div class="mb">
                <span class="text-primary">
                    <b>{{ product.name }}</b>
                </span>
            </div>
            <div class="image-holder mb">
                <img [src]="product.image || '../../../../../../assets/images/default_image.png'" alt="">
            </div>
            <div class="price mb">
                <span class="text-primary title center o-50">Price</span>
                <span class="value center">{{ getFormatedPrice(product.price) }} Ft,-</span>
            </div>
        </div>
        <div content>
            <div class="texts">
                <div class="row">
                    <span class="text-primary title">Name</span>
                    <span class="value">{{ product.name || '-' }}</span>
                </div>
                <div class="row">
                    <span class="text-primary title">Manufacturer</span>
                    <span class="value">{{ product.manufacturer || '-' }}</span>
                </div>
                <div class="row">
                    <span class="text-primary title">Price</span>
                    <span class="value">{{ getFormatedPrice(product.price) }} Ft,-</span>
                </div>
                <div class="row">
                    <span class="text-primary title">Availability</span>
                    <span class="value" [style.color]="product.available ? '#3dc214' : '#ff1a39'">{{ product.available ? 'Available' : 'Not available' }}</span>
                </div>
                <div class="row">
                    <span class="text-primary title">Description</span>
                    <span class="value">{{ product.description || '-' }}</span>
                </div>
            </div>
        </div>
    </app-expansion-panel>
    <button class="mt" (click)="addToCart()" *ngIf="type == 'catalog' && product.available">
        <i class="material-icons">shopping_cart</i>
        Add to shopping cart
    </button>
    <button class="mt not-available" *ngIf="type == 'catalog' && !product.available">
        <i class="material-icons">report_problem</i>
        Not available
    </button>
    <button class="mt" (click)="editProduct()" *ngIf="type == 'admin'">
        <i class="material-icons">create</i>
        Edit
    </button>
</app-card>