<app-top-nav></app-top-nav>
<app-admin-nav></app-admin-nav>
<app-page [loading]="loading">
    <h1 class="text-primary floating-title">Admin - Orders</h1>

    <div class="orders" *ngIf="!loading">
        <div class="header">
            <h3>Orders</h3>
        </div>
        <app-card *ngFor="let order of orders">
            <app-expansion-panel *ngIf="order.customer && order.products.length == order.orders.length">
                <div header>
                    <div class="order-header">
                        <div class="customer" *ngIf="order.customer">
                            <span class="text-primary">{{ order.customer.firstname + ' ' + order.customer.lastname }}</span>
                             - 
                            <span>{{ order.address.country }}</span>
                        </div>
                        <div>
                            <span class="text-primary">{{ capitalizeFirstLetter(order.status) }}</span>
                            <span *ngIf="order.status == 'pending'"> | {{ order.added | date }}</span>
                        </div>
                    </div>
                </div>
                <div content>
                    <div class="prod-cont mt">
                        <div class="item mb" *ngFor="let product of order.products; let i = index">
                            <div class="img-info row">
                                <div class="image-container">
                                    <img [src]="product.image || '../../../../../../assets/images/default_image.png'" alt="">
                                </div>
                                <div class="info column">
                                    <h4 class="text-primary no-margin">{{ product.name }}</h4>
                                    <div>{{ order.orders[i].quantity }}x - {{ getFormatedPrice(product.price * order.orders[i].quantity) }} Ft</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="texts">
                        <h4>Address</h4>
                        <div class="row">
                            <span class="text-primary title">Name</span>
                            <span class="value">{{ order.address.country }}</span>
                        </div>
                        <div class="row">
                            <span class="text-primary title">City</span>
                            <span class="value">{{ order.address.city }}</span>
                        </div>
                        <div class="row">
                            <span class="text-primary title">Street</span>
                            <span class="value">{{ order.address.street }}</span>
                        </div>
                        <div class="row">
                            <span class="text-primary title">Postal code</span>
                            <span class="value">{{ order.address.postal_code }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="texts">
                        <h4>Info</h4>
                        <div class="row">
                            <span class="text-primary title">Ordered at</span>
                            <span class="value">{{ order.added | date }}</span>
                        </div>
                        <div class="row">
                            <span class="text-primary title">Total</span>
                            <span class="value">{{ getFormatedPrice(getTotalPrice(order)) }} Ft,-</span>
                        </div>
                    </div>
                    <div buttons *ngIf="order.status == 'pending'">
                        <button (click)="complete(order)">
                            <i class="material-icons">done</i>
                            Complete order
                        </button>
                    </div>
                </div>
            </app-expansion-panel>
        </app-card>
    </div>
</app-page>