@import '../../../styles.scss';



:host {
    width: 100%;

    .input-container {
        margin-bottom: $margin-normal;
        width: 100%;
    
        .label-container {
            display: flex;
            flex-direction: row;
            margin-bottom: $margin-small;
    
            p {
                margin: 0px;
            }
    
            .label {
                margin-right: $margin-small;
                color: $color-gray;
            }
        }

        ::ng-deep input[type=text], ::ng-deep input[type=number], ::ng-deep input[type=email], ::ng-deep input[type=password] {
            width: 100%;
            border: 1px solid transparent;
            outline: none;
            background: #F6F6F6;
            border-radius: $border-radius;
            transition: $transition;
            padding: $padding-normal;
            box-sizing: border-box;
    
            &:focus {
                background: $color-white;
                border: 1px solid $color-primary;
            }
        }

        ::ng-deep input[type=checkbox] {
            width: 15px;
            height: 15px;
        }

        ::ng-deep textarea {
            width: 100%;
            border: 1px solid transparent;
            outline: none;
            background: #F6F6F6;
            border-radius: $border-radius;
            transition: $transition;
            padding: $padding-normal;
            box-sizing: border-box;

            &:focus {
                background: $color-white;
                border: 1px solid $color-primary;
            }
        }
    }

    
}