@import '../../../styles.scss';

.card {
    background-color: $color-white;
    border: 1px solid #DDDDDD;
    //box-shadow: $shadow-normal;
    padding: $padding-normal;
    border-radius: $border-radius;
    margin-bottom: $margin-normal;
    transition: $transition;
}