@import '../../../styles.scss';

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-container {
        background-color: $color-white;
        width: 800px;
        box-shadow: 0px 10px 20px 0px #00000033;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: $padding-large;
        border-radius: $border-radius;

        div {
            width: 50%;
            height: 100%;

            &:first-of-type {
                margin-right: $margin-large;
            }

            &:last-of-type {
                padding-left: $padding-large;
            }
        }

    }
}