
@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}

body, html, textarea {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}



$color-primary: #1B9CFC;
$color-primary-active: #53b5ff;
$color-primary-light: #b6dfff;
$color-primary-light-active: #ddf0ff;
$color-danger: #ff1a39;
$color-success: #afff1a;
$color-white: #FFFFFF;
$color-gray: #AAAAAA;
$color-text: #2f343a;

$shadow-normal: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
//$shadow-normal: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

$padding-large: 32px;
$padding-normal: 16px;
$padding-small: 8px;

$margin-large: 32px;
$margin-normal: 16px;
$margin-small: 8px;

$border-radius: 5px;

$transition: 250ms;

* {
    color: $color-text;
}

.text-primary {
    color: $color-primary;
}

.text-gray {
    color: $color-gray;
}

.text-danger {
    color: $color-danger;
}

h1, h2, h3, h4, h5 {
    margin-top: 0px;
}

button {
    padding: $padding-normal;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: $transition;
    box-shadow: $shadow-normal;

    &:hover {
        background-color: $color-primary-active;
    }

    &.clear {
        background-color: $color-primary-light;
        color: $color-primary;
        box-shadow: none;

        &:hover {
            background-color: $color-primary-light-active;
        }
    }
}

a {
    color: $color-primary;
    text-decoration: none;

    transition: $transition;

    &:hover {
        color: $color-primary-active;
    }
}

.mt {
    margin-top: $margin-normal;
}

.mb {
    margin-bottom: $margin-normal;
}

.ml {
    margin-left: $margin-normal;
}

form {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.toast {
    width: 200px;
    background: $color-white;
    padding: $padding-normal;
    position: absolute;
    top: $margin-normal;
    left: calc(50% - 100px);
    right: 50%;
    animation: toast-down $transition;
    box-shadow: $shadow-normal;
    border-radius: $border-radius;
    color: $color-primary;
    z-index: 1000;

    &.up {
        animation: toast-up $transition;
    }
}

.o-50 {
    opacity: 0.5;
}

.floating-title {
    animation: float-right $transition;
}

@keyframes toast-up {
    0% {
        top: $margin-normal;
    }

    100% {
        top: -200px;
    }
}

@keyframes toast-down {
    0% {
        top: -200px;
    }

    100% {
        top: $margin-normal;
    }
}

@keyframes float-right {
    0% {
        margin-left: -200px;
        opacity: 0;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

hr {
    border: none;
    border-bottom: 1px solid $color-gray;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}