@import '../../../styles.scss';

.products {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-rows: auto;
    column-gap: $margin-normal;
    row-gap: $margin-normal;
}