<app-top-nav></app-top-nav>
<app-page [loading]="loading">
    <h1 class="text-primary floating-title">My orders</h1>

    <div class="orders" *ngIf="!loading">
        <app-card *ngFor="let order of orders">
            <div class="at mb">
                <small>Ordered at: 
                    <span class="text-primary">{{ order.added | date }}</span>
                </small>
                <br>
                <small>Status: 
                    <span class="text-primary">{{ capitalizeFirstLetter(order.status) }}</span>
                </small>
            </div>
            <div class="item mb" *ngFor="let product of order.products; let i = index">
                <div class="img-info row">
                    <div class="image-container">
                        <img [src]="product.image || '../../../../../../assets/images/default_image.png'" alt="">
                    </div>
                    <div class="info column">
                        <h4 class="text-primary no-margin">{{ product.name }}</h4>
                        <div>{{ order.orders[i].quantity }}x - {{ getFormatedPrice(product.price * order.orders[i].quantity) }} Ft</div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</app-page>