@import '../../../styles.scss';

nav {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow-normal;
    position: fixed;
    height: 100vh;
    top: 67px;
    z-index: 50;

    .navs {
        padding: $padding-small;
        
        ul {
            display: flex;
            flex-direction: column;
            padding: 0px;

            li {
                list-style-type: none;
                margin: $margin-small;

                a {
                    color: $color-gray;
                    opacity: 0.5;
                    transition: $transition;
                    padding: $padding-normal;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    &:hover {
                        opacity: 1;
                        color: $color-primary;
                    }

                    &.active {
                        opacity: 1;
                        color: $color-primary;
                    }

                    i {
                        margin-right: $margin-small;

                    }
                }
            }
        }

        .user-section {
            color: $color-white;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: row;
            padding-left: $padding-normal;

            ul {
                padding: 0px;
            }
        }
    }
}