<app-top-nav></app-top-nav>
<app-page [loading]="loading">
    <h1 class="text-primary floating-title">Catalog</h1>
    <app-card>
        <h4>Search</h4>
        <app-input>
            <input type="text" placeholder="Search for product" (keyup)="search($event)" [(ngModel)]="searchText">
        </app-input>
    </app-card>
    <div class="products" *ngIf="products.length > 0; else noProds">
        <app-product-item *ngFor="let product of products" [product]="product" type="catalog"></app-product-item>
    </div>
    <ng-template #noProds>
        <div class="wqe" *ngIf="!loading">
            <h3>No product found :(</h3>
        </div>
    </ng-template>
</app-page>